<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnisensTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <UnisensTest.Properties.Settings>
      <setting name="signal_csv_reader" serializeAs="String">
        <value>org.unisens.ri.io.csv.SignalCsvReader</value>
      </setting>
      <setting name="signal_csv_writer" serializeAs="String">
        <value>org.unisens.ri.io.csv.SignalCsvWriter</value>
      </setting>
      <setting name="signal_bin_reader" serializeAs="String">
        <value>org.unisens.ri.io.bin.SignalBinReader</value>
      </setting>
      <setting name="signal_bin_writer" serializeAs="String">
        <value>org.unisens.ri.io.bin.SignalBinWriter</value>
      </setting>
      <setting name="signal_xml_reader" serializeAs="String">
        <value>org.unisens.ri.io.xml.SignalXmlReader</value>
      </setting>
      <setting name="signal_xml_writer" serializeAs="String">
        <value>org.unisens.ri.io.xml.SignalXmlWriter</value>
      </setting>
      <setting name="values_csv_reader" serializeAs="String">
        <value>org.unisens.ri.io.csv.ValuesCsvReader</value>
      </setting>
      <setting name="values_csv_writer" serializeAs="String">
        <value>org.unisens.ri.io.csv.ValuesCsvWriter</value>
      </setting>
      <setting name="values_bin_reader" serializeAs="String">
        <value>org.unisens.ri.io.bin.ValuesBinReader</value>
      </setting>
      <setting name="values_bin_writer" serializeAs="String">
        <value>org.unisens.ri.io.bin.ValuesBinWriter</value>
      </setting>
      <setting name="values_xml_reader" serializeAs="String">
        <value>org.unisens.ri.io.xml.ValuesXmlReader</value>
      </setting>
      <setting name="values_xml_writer" serializeAs="String">
        <value>org.unisens.ri.io.xml.ValuesXmlWriter</value>
      </setting>
      <setting name="event_csv_reader" serializeAs="String">
        <value>org.unisens.ri.io.csv.EventCsvReader</value>
      </setting>
      <setting name="event_csv_writer" serializeAs="String">
        <value>org.unisens.ri.io.csv.EventCsvWriter</value>
      </setting>
      <setting name="event_bin_reader" serializeAs="String">
        <value>org.unisens.ri.io.bin.EventBinReader</value>
      </setting>
      <setting name="event_bin_writer" serializeAs="String">
        <value>org.unisens.ri.io.bin.EventBinWriter</value>
      </setting>
      <setting name="event_xml_reader" serializeAs="String">
        <value>org.unisens.ri.io.xml.EventXmlReader</value>
      </setting>
      <setting name="event_xml_writer" serializeAs="String">
        <value>org.unisens.ri.io.xml.EventXmlWriter</value>
      </setting>
      <setting name="validation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StandardUnisensFactoryClass" serializeAs="String">
        <value>org.unisens.ri.UnisensFactoryImpl</value>
      </setting>
    </UnisensTest.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
